#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

#img_satvam {
    
    height: 500px;
    width: 800px;
}
.movie_head
{
    font-size:20px;
    padding:6px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display:inline-block;
}